.app-page {
  &__row {
    margin-bottom: 32px;
  }

  &__book.app-card {
    min-height: 200px;
  }

  &__recommendations {
    margin-bottom: 24px;
  }

  &__card-tag {
    width: fit-content;
    font-weight: 600;
  }
}
