.app-card {
  height: 100%;
  min-height: 120px;
  padding: 6px;
  cursor: pointer;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
  }

  &__prepend {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
  }
}
