.book-modal {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    max-width: 440px;

    strong {
      display: block;
      margin-bottom: 6px;
    }
  }

  &__image {
    & > img {
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
